body {
  background: silver;
}
header {
  color: black;
  margin-left: 70px;
  font: normal 15pt arial;
}
p#jr {
  color: black;
  margin-left: 125px;
  margin-top: 100px;
  font-style: italic;
}
section {
  font-style: oblique;
  background: rgba(108,108,108,0.452);
  border-radius: 5px;
  width: 280px;
  height: 250px;
  margin-left: 30px;
  margin-top: 50px;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.767);
}
input#bt {
  margin-left: 120px;
  margin-top: 40px;
  height: 40px;
  width: 100px;
}
div {
  text-align: center;
  padding: 5px;
}